.observablehq {
    height: 100%;
}

.covid-19-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.covid-19-container .stats {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    color: gray;
    flex-direction: column;
}

.covid-19-container .stat {
    padding: 1.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.covid-19-container .stat + .stat {
    border-top: 1px solid #f0f0f0;
}

.covid-19-container .number {
    font-weight: 500;
    font-size: 3.5em;
    color: brown;
}

.covid-19-container #caseMap {
    margin-left: 2em;
    flex: 1;
}

@media (max-width: 525px) {
    .covid-19-container {
        flex-direction: column;
    }
}
